@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Heebo:wght@300;400;700&family=Kanit:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap');

.App {
  text-align: center;
}

.container-card {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  background: rgb(200, 202, 201);
  width: 27%;
  margin: 5px 0;
  border-radius: 5px;
}

.card-header {
  background: rgb(7, 91, 99);
  border-radius: 5px 5px 0 0;

}

.card-title {
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
}

.card-body {
  color: rgb(9, 77, 72);
  text-align: left;
  padding: 0 20px;
}

.card-body p {
  margin: 5px 0;
}

.card-body span {
  font-weight: bold;
  color: #282624;
}

.btn-delete {
  background: #b82424;
  padding: 5px 5px;
  border: none;
  border-radius: 3px;
  margin: 5px 8px;
  color: #faebd7;
  font-size: 15px;
}

.btn-edit {
  background: #1e6ca3;
  padding: 5px 5px;
  border: none;
  border-radius: 3px;
  margin: 5px 8px;
  color: #faebd7;
  font-size: 15px;
}

.btn-create {
  background: #0d904f;
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  margin: 5px 8px;
  color: #faebd7;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

.btn-create:hover {
  background: #10a058;
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  margin: 5px 8px;
  color: #faebd7;
  font-size: 15px;
  font-weight: bold;
}

.container-form {
  background: #0e192e;
  color: #fff;
  height: 100vh;
  /* overflow-x: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
  width: 100%;
}

.input i {
  font-size: 20px;
}

.input-name {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.container-form .input input {
  background: rgb(255, 253, 253);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  padding: 10px;
  width: 90%;
}