@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Heebo:wght@300;400;700&family=Kanit:wght@300;400;700&family=Poppins:wght@300;400;700&display=swap');

.App {
  text-align: center;
  display: flex;
}

/* Lista de usuario */

.container-list {
  height: 100vh;
  overflow-x: auto;
  padding: 30px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {	
  width: 90%;
  background: white;
  text-align: left;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

td {
  border: 1px solid rgba(122, 122, 122, 0.171);
}

thead {
  background:#106a72;
  border-bottom: 5px solid #07383b;
  color: #fff;
}

tr:nth-child(even) {
  background: #ddd;
}

tr:hover td{
  background: #138691;
  color: white;
}

/* Formulario */

.container-form {
  background: #037ba0;
  /* background-image: url('https://fondosmil.com/fondo/18872.png');
  background-size: cover; */
  color: #fff;
  height: 100vh;
  width: 40%;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 90%;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
  width: 100%;
}

.input-name {
  width: 90%;
}

.input i {
  font-size: 20px;
}

.input-name {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.container-form .input input {
  background: rgb(255, 253, 253);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  padding: 10px;
  width: 90%;
}

/* Botones */

.btn-delete {
  background: #b82424;
  padding: 5px 5px;
  border: none;
  border-radius: 3px;
  margin: 5px 8px;
  color: #faebd7;
  font-size: 15px;
}

.btn-edit {
  background: #1e6ca3;
  padding: 5px 5px;
  border: none;
  border-radius: 3px;
  margin: 5px 8px;
  color: #faebd7;
  font-size: 15px;
}

.btn-create {
  background: #0d904f;
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  margin: 5px 8px;
  color: #faebd7;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

.btn-create:hover {
  background: #10a058;
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  margin: 5px 8px;
  color: #faebd7;
  font-size: 15px;
  font-weight: bold;
}
