@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Staatliches&family=Ubuntu:wght@300;400;700&display=swap');
.App {
  text-align: center;
  display: flex;
}

/* Lista de usuario */

.container-list {
  height: 100vh;
  overflow-x: auto;
  padding: 30px;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 10px;
}

.list {
  margin-bottom: 10px;
  background: #fff;
  width: 100%;
  border-radius: 20px;
  margin: 0;
}

.list-user {
  text-align: left;
  border-bottom: 2px solid #037ba0;
}

.list-name {
  margin-left: 10px;
  color: rgb(10, 57, 78);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.list-info {
  /* background:#1e6ca3; */
  width: 80%;
  margin: 0 auto;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-content {
  margin: 10px 0px;font-size: 20px;
}

.list-title {
  font-weight: bold;
  color: rgb(6, 75, 80);
  margin-right: 10px;
}

.btn-list {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Formulario */

.container-form {
  background: #037ba0;
  color: #fff;
  height: 100vh;
  width: 40%;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 90%;
  border: 2px solid rgb(245, 247, 247);
  border-radius: 10px;
  background:#147479;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
  width: 100%;
}

.input-name {
  width: 90%;
}

.input i {
  font-size: 20px;
}

.input-name {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.container-form .input input {
  background: rgb(255, 253, 253);
  border: none;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  padding: 10px;
  width: 90%;
}

/* Botones */

.btn-delete {
  background: #b82424;
  padding: 5px 5px;
  border: none;
  border-radius: 3px;
  margin: 5px 8px;
  color: #faebd7;
  font-size: 15px;
}

.btn-edit {
  background: #1e6ca3;
  padding: 5px 5px;
  border: none;
  border-radius: 3px;
  margin: 5px 8px;
  color: #faebd7;
  font-size: 15px;
}

.btn-create {
  background: #0d904f;
  padding: 8px 10px;
  border: none;
  border-radius: 3px;
  margin: 5px 8px;
  color: #faebd7;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
}

.btn-create:hover {
  background: #10a058;
}

/* @media screen and (max-width: 768px) {
  .container-form {
    padding: 15px 0 35px;
    width: 100%;
  }

  .container-list {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {

  .table {
    border: 0px;
  }
  .table thead {
    display: none;
  }

  .table tr {
    margin-bottom: 8px;
    border-bottom: 4px solid #ddd;
    display: block;
  }

  .table th, .table td {
    font-size: 15px;
  }
  
  .table td {
    display: block;
    text-align: right;
  }

  table td:last-child {
    border-bottom: none;
  }

  .table td::before {
    content: attr(data-label);
    font-weight: bold;
    text-transform: uppercase;
    float: left;
  }

} */